/*Basic*/
$primary: #312651;
$secondary: #444262;
$tertiary: #FF7754;
$gray: #83829A;
$gray2: #C1C0C8;
$white: #F3F4F8;
$lightWhite: #FAFAFC;

/*Main theme*/
$purpleLight: #FDF3F3;
$purplePink: #F8E7E7;
$purple: #A070A1; 
$purpleDark: #724060;
$purpleScarlet: #C75080;

/*Utilities*/
$error: #FF6865;