@use "Colors";
@use "Containers";
@use "Sizes";
@use "Fonts";

@function hoverColor($color) {
    @return darken($color, 5);
}

@function focusColor($color) {
    @return darken($color, 10);
}

@mixin form {
    align-self: flex-start;
    background-color: Colors.$purpleScarlet;
    color: Colors.$purpleLight;
    padding: 0.75em 1em;

    // large devices
    @include Containers.lg {
        font-size: Sizes.$large;
    }
}

@mixin header {
    align-self: center;
    background-color: Colors.$purpleDark;
}

@mixin btn-img {
    background-color: inherit;
    img {
        border-radius: 50%;
    }
}

button {
    cursor: pointer;
    border: none;
    border-radius: 0.5em;
    font-size: Sizes.$medium;
}
button:active {
    opacity: 0.7;
}

.full {
    width: 100%;
}

.clickable {
    cursor: pointer;
}
.clickable-no {
    cursor: default ;
}

.button-regular {
    background-color: Colors.$purpleScarlet;
    color: Colors.$purpleLight;
    padding: 0.75em 1em;
}
.button-regular:hover {
    background-color: hoverColor(Colors.$purpleScarlet);
}

.button-cancel {
    background-color: inherit;
    outline: 0.1em solid Colors.$purpleScarlet;
    padding: 0.75em 1em;
    color: Colors.$purpleScarlet;
}
.button-cancel:hover {
    opacity: 0.7;
}

.button-form {
    @include form;
    margin-left: 40px;
}
.button-form:hover {
    background-color: hoverColor(Colors.$purpleScarlet);
}

.button-header {
    @include header;
    border-radius: 50%;
}

.button-header-link {
    @include form;
    background-color: inherit;
    font-family: Fonts.$mainFont;
}

.button-remove {
    @include btn-img;
    img {
        background-color: Colors.$error;
        padding: 0.25em;
    }
}
.button-remove:hover {
    img {
        background-color: hoverColor(Colors.$error);
    }
}

.button-add {
    @include btn-img;
    img {
        background-color: Colors.$purple;
        padding: 0.5em;
    }
}
.button-add:hover {
    img {
        background-color: hoverColor(Colors.$purple);
    }
}

.button-info {
    @include btn-img;
    img {
        background-color: Colors.$purpleDark;
    }
}
.button-info:hover {
    img {
        opacity: 0.8;
    }
}

.button-accept {
    background-color: Colors.$purpleBlue;
    padding: 1em;
    color: Colors.$purpleLight;
}
.button-accept:hover {
    background-color: hoverColor(Colors.$purpleBlue);
}

.button-reject {
    background-color: Colors.$error;
    padding: 1em;
    color: Colors.$purpleLight;
}
.button-reject:hover {
    background-color: hoverColor(Colors.$error);
}
