/*Basic Sizes*/
$xSmall: 10px;
$small: 12px;
$medium: 16px;
$large: 20px;
$xLarge: 24px;
$xxLarge: 32px;

/*Alignments*/
.right {
    text-align: right;
}
.left {
    text-align: left;
}
.center {
    text-align: center;
}

/*Margins*/
.m1 {
    margin: 1em;
}
.m1-v {
    margin: 1em 0;
}
.m1-h {
    margin: 0 1em;
}
.m2 {
    margin: 2em;
}
.m2-v {
    margin: 2em 0;
}
.m2-h {
    margin: 0 2em;
}