/*Basic Sizes*/
$xSmall: 12px;
$small: 14px;
$medium: 16px;
$mdLg: 20px;
$large: 24px;
$xLarge: 26px;
$xxLarge: 32px;

/*Size*/
.text-midLg {
    font-size: $mdLg;
}

/*Alignments*/
.right {
    text-align: right;
}
.left {
    text-align: left;
}
.center {
    text-align: center;
}

/*Margins*/
.m0 {
    margin: 0;
}
.m0-v {
    margin-top: 0;
    margin-bottom: 0;
}
.m0-h {
    margin-top: 0;
    margin-bottom: 0; 
}
.m1 {
    margin: 1em;
}
.m1-v {
    margin: 1em 0;
}
.m1-h {
    margin: 0 1em;
}
.m2 {
    margin: 2em;
}
.m2-v {
    margin: 2em 0;
}
.m2-h {
    margin: 0 2em;
}

.p0 {
    padding: 0;
}